// Font Face 
// ==========================================================================
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

$font_primary: 'Lato', sans-serif;

$font-black: 900;
$font-bold: 700;
$font-regular: 400;


$f-18: 18px;
$f-16: 16px;
$f-12: 12px;